<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>WORLD VIP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/child.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css" href="css/swiper1-3.3.1.min.css">
<link rel="stylesheet" type="text/css" href="css/swiper-3.3.1.min.css">
</head>
<body>
  <div id="header" style="margin-right: 40px;">
  <div class="index_block index_nav swiper-container1">
   <ul class="ulll swiper-wrapper">
	<li class="ulli swiper-slide" ><a href="/wap/index.html" class="changebotttom shouyeactive">首页</a></li>	
	<li class="swiper-slide"><a href="/wap/special.html?special_id=32" class="changebotttom">颜值控</a></li>
	<li class="swiper-slide" ><a href="/wap/special.html?special_id=33" class="changebotttom">肌肤之亲</a></li>
	<li class="swiper-slide" ><a href="/wap/special.html?special_id=34" class="changebotttom">吃货记忆</a></li>
	<li class="swiper-slide" ><a href="/wap/special.html?special_id=35" class="changebotttom">辣妈萌宝</a></li>	
	<li class="swiper-slide"><a href="/wap/special.html?special_id=31" class="changebotttom">滋补保健</a></li>
	</ul>
     <!--<li class="swiper-scrollbar"></li>-->
  </div>
 </div>
   <a href="/wap/search.html" class="clearfix">
   <ul class="clearfix" style="text-align:center; float:right; width:40px;">
   <hr class="souou_lis"/>
   <li class="souou"></li>
   </ul>
   </a>
<header id="header" class="main"></header> 
<div class="main" id="main-container"></div>
<footer id="footer" class="main"></footer>

<script type="text/html" id="adv_list">
	<div class="adv_list">
		<div class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>">
					<img src="<%= item[i].image %>" alt="">
				</a>
			</div>
		<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="home1">
	<div class="index_block1 home1">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
			<div class="item">
				<a href="<%= url %>">
					<img src="<%= image %>" alt="" style=" width:100%;display: block;display: -webkit-box;">
				</a>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="home2">
	<div class="index_block1 home2">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
			<div class="item home2_1">
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</div>
			<div class="item home2_2">
				<div class="border-left">
					<div class="border-bottom">
						<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
					</div>
					<div>
						<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="home3">
	<div class="index_block1 home3">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>"><img src="<%= item[i].image %>" alt=""></a>
			</div>
		<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="home4">
	<div class="index_block1 home2">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
			<div class="item home2_2">
				<div class="border-right">
					<div class="border-bottom">
						<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
					</div>
					<div>
						<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
					</div>
				</div>
			</div>
			<div class="item home2_1">
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="goods">
	<div class="index_block1 goods">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
		<% for (var i in item) { %>
			<div class="goods-item">
				<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>">
					<div class="goods-item-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<div class="goods-item-name"><%= item[i].goods_name %></div>
					<div class="goods-item-price">￥<%= item[i].goods_promotion_price %><span style="text-decoration:line-through;color:gray; font-size:0.9em ;padding-left: 2px;"  class="goods-item-marketprice">￥<%= item[i].goods_marketprice%></span>
					</div>
				</a>
			</div>
		<% } %>
		</div>
	</div>
</script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/swipe.js"></script>
<script type="text/javascript" src="js/tmpl/common-top.js"></script>
<!-- <script type="text/javascript" src="js/tmpl/footer.js"></script> -->
<script type="text/javascript" src="js/special.js"></script>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/swiper-3.3.1.jquery.min.js"></script>
<!--导航栏-->   
<script>        
  var mySwiper = new Swiper ('.swiper-container1', {
        direction:"horizontal",/*横向滑动*/  
        //freeModeMomentum : false,
		//grabCursor : true,/*手状*/
		//hashnav:true,/*锚点*/
		//hashnavWatchState:true,
		//spaceBetween : 10,
		//slidesOffsetBefore : 50,/*预设与左边的偏移量*/
        //scrollbar:'.swiper-scrollbar',
		//scrollbarHide : false,
       // scrollbarDraggable : true ,
		//scrollbarSnapOnRelease : true ,
		slidesPerView : 5,
		centeredSlides : false,

  breakpoints: { 
    //当宽度小于等于320
    320: {
      slidesPerView: 4,
      spaceBetweenSlides: 0
    },
   //当宽度小于等于480
    375: { 
      slidesPerView: 4,
      spaceBetweenSlides: 0
    },
    //当宽度小于等于640
    414: {
      slidesPerView: 5,
      spaceBetweenSlides: 0
    }
  }
  })        
</script>
</body>
</html>
