<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用红包</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/buy-step.css">
</head>
<body style="min-width:320px; max-width:640px; background-color:#f1f4f4; margin:0 auto;">
<header id="header"></header>
<div class="voucher-list-wp" id="voucher-list"></div>
<script type="text/html" id="voucher-list-tmpl">
<div class="voucher-list">
<div class="voucher_usehelp clearfix">
 <% if (voucher_list && voucher_list.length > 0) { %>
 <a href="/wap/tmpl/member/voucher_userhelp.html"><p><span></span>&nbsp使用说明</p></a>
 <%}%>
</div>
<% if (voucher_list && voucher_list.length > 0 ) {%>
<% for (var k in voucher_list) { var v = voucher_list[k]; %>
<%if (v.voucher_end_date >timestamp){%>
  <div class="voucher-item" onclick="choice(<%= v.voucher_price %>)">
    <div class="voucher-img-wrapper">
        <span class="voucher-money">
          <span>￥</span><%= v.voucher_price %>
        </span>
      <!--<img alt="" src="<%= v.voucher_t_customimg %>"/>-->
    </div>
    <dl class="voucher-info">
      <dd>
        <% if (v.voucher_limit) { %>
          购物满<%= v.voucher_price %>元可用
        <% } %>
      </dd>
    <dd><hr class="voucher_hr"></dd>
    <dd class="voucher-title"><!--<%= v.voucher_title %>-->优惠券</dd>
    <!--<dd>店铺：<%= v.store_name %></dd>-->
    </dl>
    <p class="clearfix">
      <span>有效期至：<%= tsToDateString(v.voucher_end_date) %></span>
    </p>
  </div>
<%}else {%>
    <div class="no-recordimg">
        <div class="no-recordimgs"></div>
        <p>您的优惠券已经过期</p>
    </div>
<%}%>
<%}%> 
<%}else { %>
    <div class="no-recordimg">
        <div class="no-recordimgs"></div>
        <p>您还没有相关代金券</p>
    </div>
<% } %>
</div>
    <div class="voucher_thetab voucher_thetab1" onclick="nouse()">
      <ul class="voucher-tab">
      不使用红包
      </ul>
    </div>
</script>
    <input type="hidden" name="vat_hash">
    <input type="hidden" name="allow_offpay">
    <input type="hidden" name="offpay_hash">
    <input type="hidden" name="offpay_hash_batch">
  <input type="hidden" name="invoice_id">
  <input type="hidden" name="passwd_verify" value="0">
  <input type="hidden" name="total_price">
  <input type="hidden" name="available_rc_balance">
  <input type="hidden" name="available_predeposit">
  <script type="text/javascript" src="../../js/config.js"></script>
  <script type="text/javascript" src="../../js/zepto.min.js"></script>
  <script type="text/javascript" src="../../js/template.js"></script>
  <script type="text/javascript" src="../../js/common.js"></script>
  <script type="text/javascript" src="../../js/simple-plugin.js"></script>
  <script type="text/javascript" src="../../js/tmpl/common-top.js"></script>
  <script type="text/javascript" src="../../js/tmpl/buy_step1choice.js"></script>
  <script type="text/javascript" src="../../js/modelcss.js"></script>
</body>
</html>
